<!-------------------Carousel Part---------------->
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="https://cdn0.weddingwire.in/article/4617/original/1280/jpg/97164-biba-india.jpeg" class="d-block w-100" alt="CSS">
        <div class="carousel-caption d-none d-md-block">
          <h2 [ngClass]="prod_array">KURTI DESIGN</h2>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://i.ytimg.com/vi/ganZ1uBdiNM/maxresdefault.jpg" class="d-block w-100" alt="JS">
        <div class="carousel-caption d-none d-md-block">
          <h2 [ngClass]="prod_array">BLOUSE DESIGN</h2>
          
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.shaadisaga.com/shaadisaga_production/photos/pictures/001/830/669/new_large/A.jpg?1594306550" class="d-block w-100" alt="JQ">
        <div class="carousel-caption d-none d-md-block">
          <h2 [ngClass]="prod_array">LEHENGA DESIGN</h2>
          
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://i.ytimg.com/vi/A08f6ztoscw/maxresdefault.jpg" class="d-block w-100" alt="JQ">
        <div class="carousel-caption d-none d-md-block">
          <h2 [ngClass]="prod_array">KIDS DRESS DESIGN</h2>
          
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://i.ytimg.com/vi/FWcGXTqxY_A/maxresdefault.jpg" class="d-block w-100" alt="JQ">
        <div class="carousel-caption d-none d-md-block">
          <h2 [ngClass]="prod_array">KIDS LEHENGA DESIGN</h2>
          
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://i.ytimg.com/vi/ZKLfasRzRTs/maxresdefault.jpg" class="d-block w-100" alt="JQ">
        <div class="carousel-caption d-none d-md-block">
          <h2 [ngClass]="prod_array">KIDS KURTA PAJAMA DESIGN</h2>
          
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!----------------------------End Of Caurosel Part---------------------->

<!--Start of new section -->
  <section id="banner">
    <div class="container">
      <div class="row">
        <div class="col-mad-6">
          <button  class="promo-title" >Book your stitch</button>
          <p style="padding-bottom:3%;padding-top:3%;padding-left:230px;text-align:center;font-size:26px;font-family:open sans;line-height:34px;">ONLINE STITCHING / TAILORING SERVICES AT YOUR DOORSTEP FOR WOMEN AND KIDS IN BANGALORE </p>
        
        </div>
      </div>
    </div>
  </section>
  <div class="works"><p>HOW IT WORKS</p></div>
  <section>
    <div class="row text-center" style="background-color:#fff;">
      <div class="col-md-3 services">
        <img src="https://cdn-icons-png.flaticon.com/512/2534/2534679.png" class="service-img">
     
        <h4>BOOK A STITCH</h4>
        <p class="des">Book a Stitch at Your Home or Office. Select your best preferred pickup date and time.</p>
      </div>
      <div class="col-md-3 services">
        <img src="https://cdn-icons-png.flaticon.com/512/2738/2738624.png" class="service-img">
       
        <h4>SIZE ME</h4>
        <p class="des">Experienced FabStitch representative at every appointment, to size and help you with latest trends and designs at your doorstep.</p>
      </div>
      <div class="col-md-3 services">
        <img src="https://cdn-icons-png.flaticon.com/512/1291/1291962.png" class="service-img">

        <h4>STITCH IN PROGRESS</h4>
        <p class="des">Our experts ensure that your clothes are getting stitched as per your fitting and size.</p>
      </div>
      <div class="col-md-3 services">
        <img src="https://cdn-icons-png.flaticon.com/512/7875/7875817.png" class="service-img">
        
        <h4>CASH ON DELIVERY</h4>
        <p class="des">Great fit guaranteed,free pickup and delivery. Pay by cash after you receive your newly stitched cloth on 8th day.</p>
      </div>
    </div>
  </section>

  <section id="banner">
    <div class="container">
      <div class="row">
        <div class="col-mad-6">
          <div  class=promo-title2 >WHY CHOOSE US</div>
          <p style="color:#fff;margin-top: 30px;font-size: 24px;margin-left: 200px;margin-bottom: 50px;">Fabstitch.in is young and vibrant company that aims at providing hassle free and enjoyable tailoring experience with all new designs and patterns with a team of talented designers. We provides amazing tailoring experience with one stop solution for all kind of stitching works. We offering free measurement, pick-up and delivery service with quality and on time delivery.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="news">
    <p>IN THE NEWS</p>
    <div class="row text-center" >
      <div class="col-md-3 services">
        <img src="http://www.fabstitch.in/wp-content/uploads/2015/10/fs_57665-200x67.jpg"  style="height:67px;width:200px;" class="service-img"> 
      </div>
      <div class="col-md-3 services">
        <img src="http://www.fabstitch.in/wp-content/uploads/2015/10/tp-200x68.png" style="height: 68px;width:200px;" class="service-img">
      </div>
      <div class="col-md-3 services">
        <img src="http://www.fabstitch.in/wp-content/uploads/2015/09/yo-logo.png" style="height: 48px;width:200px ;" class="service-img">
      </div>
      <div class="col-md-3 services">
        <img src="http://www.fabstitch.in/wp-content/uploads/2015/10/your_story-200x93.png" style="height: 93px;width:200px ;" class="service-img"> 
      </div>
    </div>
  </section>



  <section class="feedback">
    <!-- Carousel wrapper -->
<div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">

<!-- Inner -->
<div class="carousel-inner py-4">
<!-- Single item -->
<div class="carousel-item active">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle shadow-1-strong mb-4"
          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp" alt="avatar"
          style="width: 150px;border-radius: 50%;height: 150px;" />
        <h5 class="mb-3">Anna Deynah</h5>
        <p>UX Designer</p>
        <p class="text-muted">
          <i class="fas fa-quote-left pe-2"></i>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id
          officiis hic tenetur quae quaerat ad velit ab hic tenetur.
        </p>
        <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
        </ul>
      </div>

      <div class="col-lg-4 d-none d-lg-block">
        <img class="rounded-circle shadow-1-strong mb-4"
          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar"
          style="width: 150px;border-radius: 50%;height: 150px;" />
        <h5 class="mb-3">John Doe</h5>
        <p>Web Developer</p>
        <p class="text-muted">
          <i class="fas fa-quote-left pe-2"></i>
          Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
          suscipit laboriosam, nisi ut aliquid commodi.
        </p>
        <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
          <li>
            <i class="fas fa-star-half-alt fa-sm"></i>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 d-none d-lg-block">
        <img class="rounded-circle shadow-1-strong mb-4"
          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp" alt="avatar"
          style="width: 150px;border-radius: 50%;height: 150px;" />
        <h5 class="mb-3">Maria Kate</h5>
        <p>Photographer</p>
        <p class="text-muted">
          <i class="fas fa-quote-left pe-2"></i>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
          praesentium voluptatum deleniti atque corrupti.
        </p>
        <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="far fa-star fa-sm"></i></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Single item -->
<div class="carousel-item">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle shadow-1-strong mb-4"
          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(3).webp" alt="avatar"
          style="width: 150px;border-radius: 50%;height: 150px;" />
        <h5 class="mb-3">John Doe</h5>
        <p>UX Designer</p>
        <p class="text-muted">
          <i class="fas fa-quote-left pe-2"></i>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id
          officiis hic tenetur quae quaerat ad velit ab hic tenetur.
        </p>
        <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
        </ul>
      </div>

      <div class="col-lg-4 d-none d-lg-block">
        <img class="rounded-circle shadow-1-strong mb-4"
          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar"
          style="width: 150px;border-radius: 50%;height: 150px;" />
        <h5 class="mb-3">Alex Rey</h5>
        <p>Web Developer</p>
        <p class="text-muted">
          <i class="fas fa-quote-left pe-2"></i>
          Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
          suscipit laboriosam, nisi ut aliquid commodi.
        </p>
        <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
          <li>
            <i class="fas fa-star-half-alt fa-sm"></i>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 d-none d-lg-block">
        <img class="rounded-circle shadow-1-strong mb-4"
          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(5).webp" alt="avatar"
          style="width: 150px;border-radius: 50%;height: 150px;" />
        <h5 class="mb-3">Maria Kate</h5>
        <p>Photographer</p>
        <p class="text-muted">
          <i class="fas fa-quote-left pe-2"></i>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
          praesentium voluptatum deleniti atque corrupti.
        </p>
        <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="far fa-star fa-sm"></i></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Single item -->
<div class="carousel-item">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle shadow-1-strong mb-4"
          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(6).webp" alt="avatar"
          style="width: 150px;border-radius: 50%;height: 150px;" />
        <h5 class="mb-3">Anna Deynah</h5>
        <p>UX Designer</p>
        <p class="text-muted">
          <i class="fas fa-quote-left pe-2"></i>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id
          officiis hic tenetur quae quaerat ad velit ab hic tenetur.
        </p>
        <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
        </ul>
      </div>

      <div class="col-lg-4 d-none d-lg-block">
        <img class="rounded-circle shadow-1-strong mb-4"
          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(8).webp" alt="avatar"
          style="width: 150px;border-radius: 50%;height: 150px;" />
        <h5 class="mb-3">John Doe</h5>
        <p>Web Developer</p>
        <p class="text-muted">
          <i class="fas fa-quote-left pe-2"></i>
          Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
          suscipit laboriosam, nisi ut aliquid commodi.
        </p>
        <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
          <li>
            <i class="fas fa-star-half-alt fa-sm"></i>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 d-none d-lg-block">
        <img class="rounded-circle shadow-1-strong mb-4"
          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(7).webp"  alt="avatar"
          style="width: 150px;border-radius: 50%;height: 150px;" />
        <h5 class="mb-3">Maria Kate</h5>
        <p>Photographer</p>
        <p class="text-muted">
          <i class="fas fa-quote-left pe-2"></i>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
          praesentium voluptatum deleniti atque corrupti.
        </p>
        <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="fas fa-star fa-sm"></i></li>
          <li><i class="far fa-star fa-sm"></i></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Inner -->
<!-- Controls -->
<div class="d-flex justify-content-center mb-4">
<button class="carousel-control-prev position-relative" type="button"
  data-mdb-target="#carouselMultiItemExample" data-mdb-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next position-relative" type="button"
  data-mdb-target="#carouselMultiItemExample" data-mdb-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>
</div>

</div>
<!-- Carousel wrapper -->
</section>

<!--Social Media-->
<section id="social-media">
<div class="container text-center">
  <p>FIND US ON SOCIAL MEDIA</p>
  <div class="social-icons">
      <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/5968/5968764.png" ></a>
      <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/3955/3955024.png" ></a>
      <a href="#"><img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-bird-symbols-png-logo-0.png" ></a>
      <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/WhatsApp_icon.png" ></a>
      <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/145/145807.png" ></a>
      <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/3670/3670166.png" ></a>

  </div>
</div>
</section>


